import React from 'react';
import Helmet from 'react-helmet';
import ReactRouterPropTypes from 'react-router-prop-types';

{{#if styles}}
import styles from './{{name}}.scss';
{{/if}}

const {{pascalCase name}} = () => (
  {{#if styles}}
  <div className={styles.{{camelCase name ~}} }>
  {{else}}
  <div>
  {{/if}}
    <Helmet>
      <title>{{title}}</title>
    </Helmet>
  </div>
);

{{pascalCase name}}.propTypes = {
  location: ReactRouterPropTypes.location.isRequired,
  history: ReactRouterPropTypes.history.isRequired,
  match: ReactRouterPropTypes.match.isRequired,
};

export default {{pascalCase name}};
