import React from 'react';

{{#if styles}}
import styles from './{{name}}.scss';
{{/if}}

const {{name}} = () => (
  {{#if styles}}
  <div className={styles.{{camelCase name ~}} }>
  {{else}}
  <div>
  {{/if}}
    {{name}}
  </div>
);

{{name}}.propTypes = {};

export default {{name}};
